<p>List your employees here</p>

<% @employees.each do |employee| %>
  <% if employee.role == 'owner' %>
    Name: <span style="background-color: #FFFF00"><big> <%= employee.first_name  %> <%= employee.last_name %> <br/></big></span>
  <% elsif ['commission sales person', 'quota sales person'].include?(employee.role) %>
    Name: <span style="color: #009933; font-weight: bold"> <%= employee.first_name  %> <%= employee.last_name %> <br/></span>
  <% else %>
    Name: <%= employee.first_name  %> <%= employee.last_name %> <br/>
  <% end %>

  Title: <%= employee.role %> <br/> 
  Gross salary: $<%="%.2f" % employee.gross_salary %> <br/>
  Net pay: $<%="%.2f" % employee.net_pay %> <br/>
  <br/><br/>
<% end %>